<div class="container-fluid">
<form class="col-md-4 col-md-offset-3" style="padding-top:50px;">

<div class="form-group">
<label class="form-control alert-info" for="idPoke"> Entrer un L'id du pokemon </label>


<input class="form-control" type="number" name="idPoke" id="idPoke" ng-model="ID" ng-change="MiseAjour(ID)"/>



<div class="pull-right" style="padding-top:10px;">
<button  type="button" ui-sref="pokemonDetail" ng-click="" class="btn btn-success"> Chercher !</button>
</div>
 
 </div>
</form>

</div>
